.firstDiv,
AfirstDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}


@media (min-width : 1024px) {
  .AfirstDiv {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 1em;
    align-items: stretch;
  }
  

}
